<nav>
    <div class="site-title">
        <a href="/">Phenix</a>
        <p>This is esports game</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">AboutUs</a></li>

        <li><a href="/teams">Teams</a></li>
        <li><a href="/blogs/Create">Create a Blog</a></li>


    </ul>

    
</nav>